* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background-image: url(./img/971.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 820px;
}
body {
  cursor: alias;
  height: 100vh;
  font-family: "Agdasima", sans-serif;

  overflow-x: hidden;
}
nav {
  position: relative;
  left: 3%;
  top: 26.5%;
  padding-left: 0.5rem;
  height: 2rem;
  width: 25rem;

  border-left: 1px solid red;
  height: 4rem;
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
      to right,
      rgb(93, 102, 231),
      rgb(228, 117, 43),
      rgb(29, 223, 110)
    )
    1;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
ul li {
  margin-right: 0.6rem;
  list-style: none;
  transition: 3s;
}
ul a:hover {
  color: rgb(37, 216, 14);
  box-shadow: 8px -8px 20px 5px rgba(79, 255, 236, 0.93);
  border-radius: 10px;
}
a:visited {
  color: green;
}
.navli a {
  text-decoration: none;
  font-size: 3rem;
  color: white;
}
.header-section {
  position: relative;
  left: 25%;
  top: 35%;
  font-size: 2rem;
}
.header-section i {
  margin-left: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.header-section p {
  color: rgb(236, 245, 242);
  font-size: 2rem;
  text-shadow: 3px 4px 6px #0d45ce;
}
.header-section h1 {
  color: white;
  text-shadow: 10px 5px 7px rgba(78, 160, 206, 0.86);
  font-family: "Tilt Prism", cursive;
}
.header-section h1::first-letter {
  color: blue;
}
header p::first-line {
  color: whitesmoke;
  font-style: italic;
  font-weight: bolder;
}
.animation {
  position: relative;
  left: 1500px;
  /* border: 1px hidden rgb(204, 27, 27); */
  height: 100vh;
  width: 50rem;
  bottom: 380px;

  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
      to right,
      rgb(93, 102, 231),
      rgb(228, 117, 43),
      rgb(29, 223, 110)
    )
    1;
}

.kopf {
  position: absolute;
  left: 70px;
  top: 812px;
  height: 10rem;
  width: 10rem;
  clip-path: polygon(10% 0%, 90% 1%, 80% 95%, 15% 100%);
  animation: kopf 3s 1s infinite ease;
}
@keyframes kopf {
  0% {
    transform: scalex(2);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: translate(0, -800px);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: skewY(10deg);
  }
}

.main {
  position: relative;
  left: 35%;
  top: -100px;
  margin-top: -90px;

  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 3px double transparent;
  border-right: 3px double transparent;
  border-image: linear-gradient(
      to right,
      rgb(93, 102, 231),
      rgb(228, 117, 43),
      rgb(29, 223, 110)
    )
    1;

  box-shadow: -2px -1px 11px 9px #8cacff;
  height: 50rem;
  width: 43vw;
  transform: 1s ease all;
}
.main:hover {
  translate: 1rem;
}
#skillimg {
  margin-left: 0.5rem;
  opacity: 0.6;
}
.mainP {
  float: right;
  border: 1px hidden black;
  text-shadow: 10px 5px 7px rgba(29, 202, 206, 0.86);
  width: 50%;
  height: 55%;
  color: rgb(113, 132, 136);
  font-size: 2rem;
  margin: 0.3rem;
  padding: 0.3rem;
}
.main h1 {
  margin-top: 0;
  padding-bottom: 20px;
  color: #0d45ce;
  font-size: 4rem;
  text-align: center;
}
#skillimg {
  margin-left: 2rem;
  height: 350px;
  width: 350px;
  border-radius: 50%;
}
.main h1:hover {
  color: greenyellow;
}
.main img {
  clip-path: circle(50% at 50% 50%);
}
.aside1 {
  height: 137.2rem;
  width: 23%;
  background-image: url(./img/stars-7088.gif);
  margin-top: -1079px;

  position: absolute;
}
table {
  border-collapse: collapse;
  position: absolute;
  bottom: 0;
  z-index: 5;
}
th {
  margin-bottom: 200px;
  border: 2px solid rgb(118, 172, 172);
  width: 400px;
  color: black;
  font-size: 2rem;
  vertical-align: middle;
}
th:nth-child(odd) {
  background-color: bisque;
}
.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px hidden black;

  gap: 0.4rem;
  height: 60%;
  width: 50%;
  position: relative;
  left: 35%;
}
.projects .pro {
  color: #0d45ce;
  padding: 0.1rem;

  width: 20%;
  margin-left: 2rem;
  position: absolute;
  top: 0;
  left: 37%;
  text-align: center;
  font-size: 2rem;
  transition: 1s ease all;
  border-right: 5px double rgba(0, 0, 0, 0.45);
  border-radius: 0px 0px 40px 40px;
}
.pro:hover {
  color: green;
  background-color: #8cacff;
  translate: 1rem;
}
.project {
  padding: 0.5rem;

  height: 80%;
  width: 31%;
  margin: 0.2rem;
  flex-grow: 1;
  font-size: 1.4rem;
  box-shadow: 5px 5px 15px 5px #000000;
  transition: 2s ease all;
  -webkit-border-radius: 0px 40px 0px 0px;
  -moz-border-radius: 0px 40px 0px 0px;
  border-radius: 0px 40px 0px 0px;
}
.project:hover {
  translate: 1rem;
  background-color: #8cacff;
}
.prohead {
  text-align: center;
  color: blue;
}
.proimg {
  width: 70%;
  height: 40%;
  border-radius: 15%;
  margin-left: 15%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.btnpro {
  cursor: pointer;
  width: 7.5rem;
  height: 2rem;
  font-size: 1.1rem;
  color: #0d45ce;
  /* background-color: #0d45ce; */
  margin-left: 1rem;
  margin-top: 2rem;
  border-top: 6px inset rgb(29, 223, 110);
  border-radius: 30px 27px 34px 28px;
  font-weight: bold;
}
.contact {
  color: black;
  background-color: #f2f2f2;
  position: relative;
  left: 35%;
  width: 50%;
  height: 33rem;
  border-bottom: 6px inset rgba(2, 0, 36, 1);
  border-top: 6px inset rgb(29, 223, 110);
  border-radius: 30px 27px 34px 28px;
}
form {
  margin: 1rem;
}
input {
  font-size: 1.3rem;
  text-align: center;
  height: 2rem;
  width: 50%;
  margin-bottom: 0.5rem;
  border: 3px inset rgb(29, 223, 110);
  border-radius: 30px 27px 34px 28px;
}

#con {
  text-align: center;
  color: blue;
  font-weight: bold;
  font-size: 2rem;
}
textarea {
  border: 3px inset rgb(29, 223, 110);
  border-radius: 30px 27px 34px 28px;
  margin-top: 0.5rem;
  text-align: center;
  width: 50em;
}
label {
  font-size: 1.5rem;
  display: block;
  margin: 0.5rem;
}
.submit-btn {
  margin-top: 1rem;
  margin-left: 18rem;
  width: 15rem;
  height: 3rem;
  font-size: 2rem;
  color: blue;
  border-top: 4px inset rgb(29, 223, 110);
  border-bottom: 6px inset rgba(2, 0, 36, 1);
  border-radius: 30px 27px 34px 28px;
  font-weight: bold;
  -webkit-box-shadow: 11px 0px 22px 10px rgba(246, 31, 255, 0.73);
  box-shadow: 11px 0px 22px 10px rgba(246, 31, 255, 0.73);
}
.submit-btn a {
  text-decoration: none;
}
footer {
  margin-top: 0.2rem;
  text-align: center;
  border: 2px solid black;
  height: 20rem;
  background-color: lightgray;
  position: relative;
  width: 100vw;
}

.iconsf {
  position: absolute;
  left: 40.5%;
  border: 1px hidden black;
  width: 19%;
  margin-top: 1rem;
}
iframe {
  position: absolute;
  left: 35%;
  top: 35%;
}
@media screen and (max-width: 500px) {
  html {
    background-image: url(./img/971.jpg);
    background-position: center;
    background-size: cover;
  }

  .header-section {
    margin-left: 3rem;
    top: 5%;
  }
  nav {
    top: 2%;
    left: 25%;
  }
  .navli a {
    font-size: 2rem;
  }
  .animation {
    display: none;
  }
  .main {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 3px double transparent;
    border-right: 3px double transparent;
    border-image: linear-gradient(
        to right,
        rgb(93, 102, 231),
        rgb(228, 117, 43),
        rgb(29, 223, 110)
      )
      1;

    right: 100%;
    top: 24rem;
    width: 100vw;
    height: 100%;
  }
  #skillimg {
    margin-top: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .main p {
    float: left;
    font-size: 1.2rem;
    width: 80vw;
    height: 20%;
  }

  .aside1 {
    display: none;
  }
  .projects {
    width: 100vw;
    top: 50%;
    font-size: 0.5rem;
    height: 80%;
    gap: 1rem;
  }
  .projects .pro {
    font-size: 1.1rem;
  }
  .project {
    margin-top: 3rem;
    font-size: 0.9rem;
  }
  .proimg {
    width: 70%;
    height: 30%;
  }
  .btnpro {
    margin-left: 0.1rem;
    font-size: 1rem;
    width: 6rem;
  }

  .contact {
    width: 100%;
    top: 55%;
  }
  .contact #textarea {
    width: 100%;
  }
  .submit-btn {
    margin-left: 20%;
  }
  footer {
    border: 2px solid rebeccapurple;
    width: 100%;
    top: 55%;
    height: 20rem;
    margin-left: 8rem;
  }
  footer iframe {
    width: 100%;
    height: 65%;
    left: 0%;
  }
}
